<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<title>登録完了</title>
</head>
<body>
	<!-- ヘッダ -->
	<header>
		<div class="header-text">登録完了</div>
	</header>
	<!-- メイン -->
	<main>
		<!-- コンテナ -->
		<div class="container">
			<div class="card sub-container">
				<!-- タイトル -->
				<div class="row">
					<div class="col-sm-5 sub-title">
						<label for="title-label" class="form-label" >登録完了</label>
					</div>
				</div>
				<!-- メニューへ戻るリンク -->
				<div>
					<a class="mainmenu-link" th:href="@{/mainmenu}">メニューへ戻る</a>
				</div>
			</div>
		</div>
	</main>
</body>
</html>