<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/webjars/bootrasp/5.3.0/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/css/common.css}" />
	<meta charset="UTF-8">
<title>受診者登録</title>
</head>
<body>
	<!-- ヘッダ -->
	<header>
		<div>
			受診者登録
		</div>
	</header>
	<!-- メイン -->
	<main>
		<!-- コンテナ -->
		<div class="container">
			<div class="card sub-container">
				<!-- タイトル -->
				<div class="row">
					<div class="col-sm-5 sub-title">
						<label for="title-label" class="form-label">受診者登録</label>
					</div>
				</div>
				<form>
					<div>
						
					</div>
				</form>
			</div>
		</div>

	</main>
	
</body>
</html>