@charset "UTF-8";

/* 文字フォント */
* {
	font-family: serif;
}

/* ヘッダ */
header {
	position: stickey;
	top: 0;
	width: 100%;
	height: 50px;
	color: white;
	background-color: #9fa0a0;
	align-items: center;
	font-size: 28px;
}

/* ヘッダ */
.header-text {
	margin-left: 16px;
}

/* コンテナ */
.container {
	margin: auto;
	position: absolute;
	height: 650px;
	align-items: center;
}

/* サブコンテナ */
.sub-container {
	width: 680px;
	height: 490px;
	text-align: center;
	box-shadow: 0 3px 5px rgga(0, 0, 0, 0.22);
	margin: 100px auto 0px;
	background: #F9E6EB;
}

/* コンテナ内タイトル */
.sub-title {
	margin-top: 55px;
	font-size: 25px;
}

/* エラーメッセージ */
.error-label {
	color: red;
}

/* 表示項目 */
.input-col {
	display: flex;
	margin: 5px auto 5px 160px;
}

/* 表示項目ラベル */
.input-label {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 3px;
	font-size: 19px;
}

/* 表示項目：先頭 */
.input-label-top {
	margin-right: 38px;
	line-height: 24px;
}

/* 数値テキスト：スピンボタン非表示 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearence: none;
	margin: 0;
}

/* 数値ラベル：背景色透明 */
.confirm-label {
	pointer-events: none;
	background-color: transparent;
}

/* 数値テキスト */
.three-digit-part {
	padding-right: 16px;
	padding-top: 13px;
	width: 150px;
}

/* 数値テキスト：３桁部 */
.three-digit-part {
	padding-right: 16px;
	padding-top: 13px;
	width: 150px;
}

/* 数値テキスト：１桁部 */
.one-digit-part {
	padding-top: 13px;
	width: 80px;
}

/* 性別セレクトボックス */
.select-sex {
	position: relative;
	width: 230px;
}

.select-sex::before,
.select-sex::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.select-sex::before {
	display: inline-block;
	right: 0;
	width: 2.8em;
	height: 2.8em;
	border-radius: 0 3px 3px 0;
	background-color: #9fa0a0;
}

.select-sex::after {
	position: absolute;
	top: 50%;
	right: 1.4em;
	transform: translate(50%, -50%) rotate(45deg);
	width: 6px;
	height: 6px;
	border-bottom: 3px solid #fff;
	border-right: 3px solid #fff;
}

.select-sex select {
	appearance: none;
	min-width: 230px;
	height: 2.8em;
	padding: .4em 3.6em .4em .8em;
	border: none;
	border-radius: 3px;
	background-color: #ffffff;
	color: #333;
	font-size: 1em;
	cursor: pointer;
}

/* ボタンコンテナ */
.btn-container {
	display: flex;
	margin-top: 180px;
	margin-left: 60px;
}

/* 各ボタン */
.btn {
	width: 240px;
	height: 50px;
	margin-right: 55px;
	color: white;
}

/* 各ボタンホバー・フォーカス */
.btn:hover, .btn:focus {
	color: white;
}

/* 戻るボタン */
.return-button {
	background-color: #A8BCF9;
}

/* 戻るボタンホバー・フォーカス */
.return-button:hover, .return-button:focus {
	background-color: #5D84F9;
}

/* 確認・確定ボタン */
.confirm-button, .complete-button {
	background-color: #afafb0;
}

/* 確認・確定ボタンホバー・フォーカス */
.confirm-button:hover, .complete-button:hover,
.confirm-button:focus, .complete-button:focus {
	background-color: #949495;
}

/* メインメニューへ戻るリンク */
.mainmenu-link {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 233px;
	margin-left: 58px;
	width: 240px;
	height: 50px;
	color: #FFF;
	transition: 0.1s ease-in-out;
	font-size: 18px;
	font-weight: 600;
	background: #A8BCF9;
	text-decoration: none;
	border-radius: 8px;
}

/* メインメニューへ戻るリンクホバー・フォーカス */
.mainmenu-link:hover, .mainmenu-link:focus {
	background: #5D84F9;
	outline: none!important;
}
