@charset "UTF-8";

/* コンテナ */
.container {
	margin: auto;
	position: absolute;
	height: 650px;
	align-items: center;
	display: block;
}

/* コンテナ */
.card-container {
	width: 480px;
	height: 500px;
	text-align: center;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
	margin: 100px auto 0px;
}

/* ログインイメージ */
.login-card {
	margin: 45px auto 20px;
	display: block;
	width: 155px;
	height: 155px;
}

/* ラベル */
label {
	vertical-align: sub;
	width: 100px;
}

/* 各項目の行 */
.row {
	display: flex;
}

/* ラベル */
.col-sm-2 {
	margin-left: 40px;
	margin-right: 25px;
}

/* テキストボックス */
.col-content {
	margin-bottom: 15px;
}

/* テキストボックス */
.form-control {
	width: 260px;
}

/* ログインボタン */
.loginBtn {
	margin: 10px auto;
	color: white;
	background-color: #afafb0;
}

/* ログインボタンホバー・フォーカス */
.loginBtn:hover, .loginBtn:focus {
	color: white;
	background-color: #949495;
}

/* エラーメッセージ */
.login-errorMsg {
	margin-top: 5px;
}
